[Desktop Entry]
Version=1.0
Type=Application
Name=RMAP Target
Exec=/usr/local/STAR-Dundee/STAR-System/bin/star_rmap_target
Icon=/usr/local/STAR-Dundee/STAR-System/STAR.png
