[Desktop Entry]
Version=1.0
Type=Application
Name=Transmit
Exec=/usr/local/STAR-Dundee/STAR-System/bin/star_transmit
Icon=/usr/local/STAR-Dundee/STAR-System/STAR.png
