[Desktop Entry]
Version=1.0
Type=Application
Name=STAR-System Test
Exec=/usr/local/STAR-Dundee/STAR-System/launch_star-system_test.sh
Icon=/usr/local/STAR-Dundee/STAR-System/STAR.png
