[Desktop Entry]
Version=1.0
Type=Application
Name=Time-codes
Exec=/usr/local/STAR-Dundee/STAR-System/bin/star_time-code
Icon=/usr/local/STAR-Dundee/STAR-System/STAR.png
