[Desktop Entry]
Version=1.0
Type=Application
Name=Uninstall STAR-System
Exec=/usr/local/STAR-Dundee/STAR-System/uninstall
Icon=/usr/local/STAR-Dundee/STAR-System/STAR.png
